{% extends "auth-base.html" %}
{% load i18n static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-login mx-auto">
            <div class="text-center mb-6">
                <img src="{% static '/brand/tabler.svg' %}" class="h-6" alt="">
            </div>
            <form class="card" action="" method="post">
                {% csrf_token %}
                <div class="card-body p-6">
                    <div class="card-title">{% trans 'Login to your account' %}</div>
                    {% if form.errors and not form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                    </div>
                    {% endif %}
                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class="alert alert-danger">
                        {{ error }}
                    </p>
                    {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        <label class="form-label" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="{{ form.password.id_for_label }}">
                            {{ form.password.label }}
                            <a href="{% url 'password_reset' %}" class="float-right small">{% trans 'I forgot password' %}</a>
                        </label>
                        {{ form.password }}
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"/>
                            <span class="custom-control-label">{% trans 'Remember me' %}</span>
                        </label>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary btn-block">{% trans 'Sign in' %}</button>
                    </div>
                </div>
            </form>
<!--            <div class="text-center text-muted">-->
<!--                {% trans "Don't have account yet?" %} <a href="./register.html">{% trans 'Sign up' %}</a>-->
<!--            </div>-->
        </div>
    </div>
</div>
{% endblock %}