{% extends "auth-base.html" %}
{% load i18n static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-login mx-auto">
            <div class="text-center mb-6">
                <img src="{% static '/brand/tabler.svg' %}" class="h-6" alt="">
            </div>
            <div class="card">
                {% if validlink %}
                <div class="card-body p-6">
                    <form method="post">{% csrf_token %}
                        <div class="card-title">{{ title }}</div>
                        <p class="text-muted">
                            {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
                        </p>
                        <div class="form-group">
                            <label for="{{ form.new_password1.id_for_label }}" class="form-label">
                                {{ form.new_password1.label }}
                            </label>
                            {{ form.new_password1 }}
                            {{ form.new_password1.errors }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.new_password2.id_for_label }}" class="form-label">
                                {{ form.new_password2.label }}
                            </label>
                            {{ form.new_password2 }}
                            {{ form.new_password2.errors }}
                        </div>
                        <div class="form-footer">
                            <button class="btn btn-primary btn-block" type="submit">{% trans 'Change my password' %}
                            </button>
                        </div>
                    </form>
                </div>
                {% else %}
                <div class="card-body p-6">
                    <div class="card-title">{{ title }}</div>
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please
                        request a new password reset. {% endblocktrans %}</p>
                    <div class="form-footer">
                        <a href="{% url 'password_reset' %}" class="btn btn-primary btn-block">{% trans 'Try again' %}</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}