{% extends "auth-base.html" %}
{% load i18n static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-login mx-auto">
            <div class="text-center mb-6">
                <img src="{% static '/brand/tabler.svg' %}" class="h-6" alt="">
            </div>
            <div class="card">
                <div class="card-body p-6">
                    <div class="card-title">{{ title }}</div>
                    <p class="text-muted">{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
                    <div class="form-footer">
                        <a href="{{ login_url }}" class="btn btn-primary btn-block">{% trans 'Log in' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}