{% extends "auth-base.html" %}
{% load i18n static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-login mx-auto">
            <div class="text-center mb-6">
                <img src="{% static '/brand/tabler.svg' %}" class="h-6" alt="">
            </div>
            <form class="card" action="" method="post">
                {% csrf_token %}
                <div class="card-body p-6">
                    <div class="card-title">{% trans 'Forgot password' %}</div>
                    <p class="text-muted">{% trans 'Enter your email address and your password will be reset and emailed to you.' %}</p>
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                        {{ form.email }}
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary btn-block">{% trans 'Send Email' %}</button>
                    </div>
                </div>
            </form>
            <div class="text-center text-muted">
                {% trans 'Forget it, ' %}<a href="{% url 'login' %}">{% trans 'send me back' %}</a>{% trans ' to the sign in screen.' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}