{% extends "auth-base.html" %}
{% load i18n static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-login mx-auto">
            <div class="text-center mb-6">
                <img src="{% static '/brand/tabler.svg' %}" class="h-6" alt="">
            </div>
            <div class="card">
                <div class="card-body p-6">
                    <div class="card-title">{{ title }}</div>
                    <p class="text-muted">{% trans 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
                    <p class="text-muted">{% trans 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
                    <a href="{% url 'login' %}" class="btn btn-primary btn-block">{% trans 'Back to login' %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}